
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-family: 'Nova Mono', monospace;
    font-family: 'Arial', 'Helvetica', 'Sans-serif';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 200px;
}

.logo {
    width: 100%;
}

.nav-items > ul {
    list-style: none;
    display: flex;
    align-items: center;
} 

.nav-items > ul > li {
    margin: 10px;
}

.body {
    margin: 10px 0px;
} 

.search {
    margin: 5px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.new {
    margin: 5px;
}

.res-card {
    background-color: #f0f0f0;
    width: 100%;
    border: 1px solid black;
}

.res-card > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.res-card .res-desc {
    padding: 5px;
}

.filter-btn {
    margin: 10px;
    padding: 2px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 350px;
    margin: 10px;
    background-color: #f0f0f0;
}

.login {
    padding: 4px 6px;
}

.search-box {
    outline: none;
    padding: 6px;
    margin: 0 4px;
    border: 1px solid sandybrown;
}

.search-btn {
    padding: 8px 10px;
    background-color: sandybrown;
    color: white;
    border: none;
    font-size: 16px;
}

.body-top {
    display: flex;
}

.link {
    width: 24%;
    text-decoration: none;
    color: black;
}
